<div class="owl-carousel">
    {{#slides}}
        <div class="item">
            <img src="../assets/images/games/{{& imgUrl}}">
            <div class="slide-text">
                <h3 class="game-top-title">{{top-title}}</h3>
                <div>
                    <h3 class="game-main-title">{{main-title}}</h3>
                    <div class="game-info">
                        {{info}}
                    </div>
                </div>
            </div>
        </div>
    {{/slides}}
</div>
