<html>
<head>
    <!--<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />-->
    <!--<meta http-equiv="Pragma" content="no-cache" />-->
    <!--<meta http-equiv="Expires" content="0" />-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../assets/css/styles.min.css' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="games-wrapper">
    <div class="top-content">
	<div class="owl-carousel">
        {{#slides}}
			<!--  game specific slide selection -->
        <div class="item">
            <img src="{{& imgUrl}}">
            <div class="slide-text">
                <h3 class="game-top-title">{{top-title}}</h3>
                <div>
                    <h3 class="game-main-title">{{main-title}}</h3>
                    <div class="game-info">
                        {{info}}
                    </div>
                </div>
            </div>
        </div>
        {{/slides}}
        {{^slides}}
		    <!--  default slide selection -->
            {{> slide}}
        {{/slides}}
    </div>
	</div>
    <div class="bottom-content" style="background-image: url('{{& bgImg}}')">
        <div class="games-mode-spacer"></div>
        <div class="games-mode-logo-box">
            <img src="{{& logoUrl}}">
        </div>
    </div>
</div>

<script src="../assets/js/scripts.min.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            items: 3,
            loop: true,
            autoplay: true,
            //autoplayTimeout:1000,
            dots: true,
            autoHeight: true,
            autoWidth: true,
            autoplayHoverPause: true
        });
    });
</script>

</body>
</html>